<section class="section">
  <div class="container">
    <div class="columns is-centered has-text-centered">
      <h1 class="title">マイページ</h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <div class="box">
          <div class="columns is-centered">
            <div class="column is-9">
              <figure class="image is-64x64">
                <%= image_tag @user.profile_image_id.to_s, class: "is-rounded" %>
              </figure>
              <div class="ml-1 mt-3 is-size-5">
                <strong class="mr-2"><%= @user.username %></strong>
                <% if @user.id == current_user.id %>
                  <%= @user.email %>
                <% end %>
              </div>
              <div class=" ml-1 mt-3 is-size-6">
                <%= @user.profile %>
              </div>
            </div>
            <% if @user.id == current_user.id %>
              <div class="is-size-5 mt-5">
                <%= link_to "編集", edit_user_path(@user), class: "button is-link is-outlined mr-2 ml-2" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @user.recipes.each do |recipe| %>
        <div class="column is-3">
          <div class="card">
            <div class="card-image">
              <figure class="image  img-container-user-show">
                <%= link_to recipe_path(recipe) do %>
                  <%= image_tag recipe.image_id.to_s, fallback: "no-image.png" %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <%= link_to recipe_path(recipe), class: "panel-block" do %>
                    <span class="panel-icon">
                      <i class="fas fa-book"></i>
                    </span>
                    このレシピを見る  
                  <% end %>
                  <% if @user.id == current_user.id %>
                    <%= link_to edit_recipe_path(recipe), class: "panel-block" do %>
                      <span class="panel-icon">
                        <i class="fas fa-edit"></i>
                      </span>
                      このレシピを編集する
                    <% end %>
                    <%= button_to recipe_path(recipe), :method => :delete, data: {confirm: "本当にレシピを削除しますか？"}, class: "panel-block link-style-delete" do %>
                      <span class="panel-icon">
                        <i class="fas fa-trash"></i>
                      </span>
                      このレシピを削除する
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="content ml-3">
                <time>
                  <%= recipe.updated_at.strftime("%Y-%m-%d %H:%M") %>
                  <span>更新</span>
                </time>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>