<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= favicon_link_tag('cookbook_icon.png') %>
    <script src="https://kit.fontawesome.com/f1434e723f.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  </head>

  <body>
    <nav id="app" class="navbar has-background-color" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item ml-2" do %>
          <%= image_tag "cookbook_icon.png" %>
          <h1 class="title is-4 ml-3" style="font-family: cursive">RECIPEAPP</h1>
        <% end %>
        
        <div role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" @click="isOpen = !isOpen" v-bind:class="{'is-active': isOpen}">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </div>
      </div>
      
      <% if user_signed_in? %>
        <div id="navbarBasicExample" class="navbar-menu" v-bind:class="{'is-active': isOpen}">
          <div class="navbar-item">
            <%= link_to "レシピ一覧", recipes_path, class: "button is-ghost has-text-black" %>
          </div>
          <div class="navbar-item">
            <%= link_to "投稿者一覧", users_path, class: "button is-ghost has-text-black" %>
          </div>
          
          <div class="navbar-end"> 
            <div class="navbar-item">
              <%= link_to "レシピ投稿", new_recipe_path, class: "button is-ghost has-text-black" %>
            </div>
            <div class="navbar-item">
              <%= link_to "マイページ", user_path(current_user), class: "button is-ghost has-text-black" %>
            </div>
            <div class="navbar-item">
              <%= link_to "ログアウト", destroy_user_session_path, class: "button is-ghost has-text-black" %>
            </div>
          </div>
        </div>
      <% else %>
        <div id="navbarBasicExample" class="navbar-menu" v-bind:class="{'is-active': isOpen}">
          <div class="navbar-end ">
            <div class="navbar-item">
              <%= link_to "投稿者一覧", users_path, class: "button is-ghost has-text-black" %>
            </div>
            <div class="navbar-item">
              <%= link_to "ログイン", new_user_session_path, class: "button is-ghost has-text-black" %>
            </div>
            <div class="navbar-item">
              <%= link_to "新規登録", new_user_registration_path, class: "button is-ghost has-text-black" %>
            </div>  
          </div>
        </div>
      <% end %>
    </nav>
    
    <% if flash[:notice] %>
      <div class="notification is-warning has-text-centered is-size-5">
        <div class="columns is-centered">
          <div class="column is-5">
            <p class="notice">
              <%= notice %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
    
    <% if flash[:alert] %>
      <div class="notification is-danger has-text-centered is-size-5">
        <div class="columns is-centered">
          <div class="column is-5">
            <p class="alert">
              <%= alert %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
    
    <%= yield %> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <script type="module">
    window.addEventListener('load',function(){
      var app = new Vue({
        el: '#app',
        data: {
            isOpen: false
        }
      });
    });senni
    </script>
  </body>
  
  <footer class="footer">
    <div class="container has-text-centered">
      <p>&copy;Copyright RecipeApp. SHUREN. 2022.</p>
    </div>
  </footer>
</html>

